@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}


/* Cabeçario   */

header {
    display: flex;
    background-color: black;
    width: 100vw;
    height: 15vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 15vh;
}

.logo {
    width: 70vw;
    height: 15vh;
}

.logo img { 
    height: 15vh;
}

.title-header {
    width: 60vw;
    height: 15vh;
}

.title-header h1 {
    padding-top: 4vh;
    font-size: 150px;
    color:white
}

.title-header p {
    padding-left: 500px;
    font-size: 80px;
    color: white;
}
