@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: black;
    height: 120px;
}

.container {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 100vw;
    margin: auto;
}

.logo img {
    height: 120px;
}

.container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    font-size: 35px;
}

.descrition {
    color: white;
    font-size: 20px;
}

/* section intro */

.intro {
    display: flex;
}

.intro-title {
    margin-top: 20px;
    margin-left: 20px;
}

#animation-intro {
    width: 40px;
    border-bottom: 4px solid black;
    font-weight: bold;
}

#imagem-intro {
    padding-top: 5px;
    width: 400px;
}

.intro-text {}


